<h1><%= @quiz.title %></h1>

<p>Created by: <%= @quiz.creator.email %></p>

<p>
  <%= @quiz.description %>
</p>

<p>
  <%= link_to 'Questions', quiz_questions_path(@quiz), class: 'btn btn-secondary' %>
</p>

<p>
  <%= link_to 'Home', root_path, class: 'btn btn-outline-secondary' %>
</p>
