<p id="notice"><%= notice %></p>

<h1>Basket Ball Players</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Position</th>
      <th>Height inches</th>
      <th>Weight lbs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @basket_ball_players.each do |basket_ball_player| %>
      <tr>
        <td><%= basket_ball_player.first_name %></td>
        <td><%= basket_ball_player.last_name %></td>
        <td><%= basket_ball_player.position %></td>
        <td><%= basket_ball_player.height_inches %></td>
        <td><%= basket_ball_player.weight_lbs %></td>
        <td><%= link_to 'Show', basket_ball_player %></td>
        <td><%= link_to 'Edit', edit_basket_ball_player_path(basket_ball_player) %></td>
        <td><%= link_to 'Destroy', basket_ball_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Basket Ball Player', new_basket_ball_player_path %>
