<% if notice %>
  <div id="notice" class="alert alert-success" role="alert" style="color: white">
    <%= notice %>
  </div>
<% end %>

<h1>Team Roster</h1>

<table class="table table-striped" style="max-width: 48rem;">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
      <th>Height</th>
      <th>Weight</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @basket_ball_players.each do |basket_ball_player| %>
      <tr>
        <td><%= basket_ball_player.first_name %></td>
        <td><%= basket_ball_player.last_name %></td>
        <td><%= basket_ball_player.position %></td>
        <td><%= basket_ball_player.height_inches/12 %>' <%= basket_ball_player.height_inches%12 %>'</td>
        <td><%= basket_ball_player.weight_lbs %> lbs.</td>
        <td>
          <%= link_to '🖊', edit_basket_ball_player_path(basket_ball_player) %>
          <%= link_to '🗑', basket_ball_player, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Basket Ball Player', new_basket_ball_player_path, class: 'btn btn-primary' %>
