<h1>Projects</h1>

<table class="table table-hover">

  <thead class="table-secondary">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td class="text-nowrap">
          <%= link_to 'Show', project, class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<p>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
</p>
