<h1>New Project</h1>

<%= bootstrap_form_with(model: @project, url: projects_path, method: :post, local: true) do |form| %>

  <%= form.text_field :title %>
  <%= form.text_area :description %>
  <%= form.collection_check_boxes :employee_ids, Employee.all, :id, :full_name, { hide_label: true } %>
  <%= form.submit class: 'btn btn-primary' %>
  
<% end %>

<p class="mt-3">
  <%= link_to 'Back', projects_path, class: 'btn btn-sm btn-outline-secondary' %>
</p>
